{{#draggable-object-target
  action=(action 'onDragSample')
  dragOverAction=(action 'onOverAction')
  dragOutAction=(action 'onDragOutAction')
}}

  <div class="flex-initial layout-row layout-align-space-around-center" title={{if sampleIcon "" "Déposez un sample dans cette zone..."}}>
    {{fa-icon (if sampleIcon sampleIcon 'question-circle-o') size=2 class=(if sampleColor sampleColor 's-color-0') }}
  </div>

  <div class="flex layout-row layout-align-space-around-center">
    {{box-vu-metter sample=sample}}
  </div>
  <div class="flex-initial ">
    {{paper-divider}}
  </div>
  <div class="flex-initial layout-row layout-wrap">
    <div class="flex"></div>

    {{#paper-button iconButton=true warn=mute onClick=(action 'muteToggle')  disabled=(not sample)}}
      {{paper-icon (if mute 'volume_off' 'volume_up')}}
    {{/paper-button}}

    <div class="flex"></div>

    {{#paper-button iconButton=true accent=solo onClick=(action 'soloAction') disabled=(not sample)}}
      {{paper-icon 'hearing'}}
    {{/paper-button}}

    <div class="flex"></div>

    <div class="flex-100 layout-row layout-align-space-around-center">
      {{#paper-button iconButton=true onClick=(action 'removeAction') disabled=(not sample)}}
        {{paper-icon 'delete'}}
      {{/paper-button}}
    </div>
  </div>
{{/draggable-object-target}}
