{{#draggable-object-target
  action=(action 'onDragSample')
  dragOverAction=(action 'onOverAction')
  dragOutAction=(action 'onDragOutAction')
}}

  {{#unless sampleIcon}}
    {{#paper-tooltip position='bottom'}}
      {{t 'box_track.drop_tooltip'}}
    {{/paper-tooltip}}
  {{/unless}}

  <div class="flex-initial layout-row layout-align-space-around-center">
    {{fa-icon (if sampleIcon sampleIcon 'question-circle-o') size=2 class=(if sampleColor sampleColor 's-color-0') }}
  </div>

  <div class="flex layout-row layout-align-space-around-center">
    {{box-vu-metter sample=sample}}
  </div>
  <div class="flex-initial volumeBar">
    {{paper-slider class="flex" disabled=(not sample) discrete=true value=sample.volume step=1 min=0 max=maxVolume onChange=(action (mut sample.volume)) title=(t 'box_track.volume_title')}}
  </div>
  <div class="flex-initial layout-row layout-wrap">
    <div class="flex-100 layout-row layout-align-space-around-center layout-xs-column layout-sm-column">

      {{#paper-button iconButton=true warn=sample.mute onClick=(action 'muteToggle')  disabled=(not sample)}}
        {{paper-icon (if sample.mute 'volume_off' 'volume_up')}}
        {{#paper-tooltip position='left'}}
          {{t 'box_track.mute_tooltip'}}
        {{/paper-tooltip}}
      {{/paper-button}}


      {{#paper-button iconButton=true accent=solo onClick=(action 'soloAction') disabled=(not sample)}}
        {{paper-icon 'hearing'}}
        {{#paper-tooltip position='right'}}
          {{t 'box_track.solo_tooltip'}}
        {{/paper-tooltip}}
      {{/paper-button}}

    <</div>

    <div class="flex-100 layout-row layout-align-space-around-center">
      {{#paper-button iconButton=true onClick=(action 'removeAction') disabled=(not sample)}}
        {{paper-icon 'delete'}}
        {{#paper-tooltip position='bottom'}}
          {{t 'box_track.delete_tooltip'}}
        {{/paper-tooltip}}
      {{/paper-button}}
    </div>
  </div>

  <div class="flex-initial trackNumber">
    #{{trackNumber}}
  </div>
{{/draggable-object-target}}
