<nav class="uk-navbar-container" uk-navbar>
  <LinkTo @route="index" class="uk-navbar-item uk-logo">
    {{t 'app_title'}}
  </LinkTo>
</nav>

<BoxToolbar
  @playing={{this.playing}}
  @loopSideA={{this.loopSideA}}
  @loopValue={{this.loopValue}}
  @loopCount={{this.loopCount}}

  @recording={{this.recording}}
  @showDownload={{and (not this.recording) this.recordedFileUri}}
  @recordingTime={{this.recordingTime}}
  @micEnable={{this.micEnable}}

  @playAction={{this.togglePlay}}
  @saveAction={{this.showMixCodeModal}}
  @recordAction={{this.toggleRecord}}
  @micAction={{this.toggleMic}}
  @downloadAction={{this.downloadAudioAction}}
/>


<div>
 

  <UkFlex @direction="row" @horizontal="around" @wrap="wrap" @wrapAlignment="around">
    {{#each this.trackCountArray as |empty idx|}}
      <BoxTrack @boxMain={{this}} @trackNumber={{inc idx}} />
    {{/each}}
  </UkFlex>

  <h3 class="uk-text-center">{{t 'box_main.sample_title'}} : </h3>
  <UkFlex @direction="row" @horizontal="around" @wrap="wrap" @wrapAlignment="around">
    {{#each @samples as |sample|}}
      {{#if sample.isUsed}}
        <BoxSample @sample={{sample}} />
      {{else}}
        <DraggableObject @content={{sample}}>
          <BoxSample @sample={{sample}} />
        </DraggableObject>
      {{/if}}
    {{/each}}  
  </UkFlex>
</div>


<UkModal @visible={{this.showMixCode}} @on-hide={{fn (mut this.showMixCode) false}} as |modal|>
  <modal.header>
    <h2 class="uk-modal-title">{{t 'box_main.mix_code_title'}}</h2>
  </modal.header>
  <modal.body>
    <p class="uk-text-center">
      {{t 'box_main.mix_code_notice'}}
    </p>
    <p class="uk-text-lead uk-text-primary">
      <FaIcon @icon="tag" />
      {{this.mixCode}}
    </p>
  </modal.body>
  <modal.footer @class="uk-text-right">
    <UkButton @color="primary" @label={{t 'box_main.mix_code_close_btn'}} @on-click={{fn (mut this.showMixCode) false}} />
  </modal.footer>
</UkModal>