<div class="layout-col" id="box-main">

  {{#paper-toolbar class="flex-initial"}}
    {{#paper-toolbar-tools}}
      <div class="layout-row flex-100">
        <div class="flex-gt-sm-33 flex-50">
          {{#paper-button iconButton=true onClick=(action 'togglePlay')}}
            {{paper-icon (if playing "stop" "play_arrow")}}
            {{#paper-tooltip position='bottom'}}
              {{if playing "Stop" "Lecture"}}
            {{/paper-tooltip}}
          {{/paper-button}}
          <span class="sm-hidden">
            &nbsp;
            |
            &nbsp;
          </span>
          {{#paper-button iconButton=true warn=recording onClick=(action 'toggleRecord')}}
            {{paper-icon "fiber_manual_record"}}
            {{#paper-tooltip position='bottom'}}
              {{if recording "Arrêter l'enregistrement" "Démarrer l'enregistrement"}}
            {{/paper-tooltip}}
          {{/paper-button}}

          <span class="recordingTimeInput sm-hidden {{if recording 'recording'}}">
            {{ms-to-time recordingTime}}
          </span>

          {{#paper-button iconButton=true accent=micEnable warn=(not micEnable) onClick=(action 'toggleMic')}}
            {{paper-icon (if micEnable 'mic' 'mic_off')}}
            {{#paper-tooltip position='bottom'}}
              {{if micEnable "Désactiver le micro" "Activer le micro"}}
            {{/paper-tooltip}}
          {{/paper-button}}

          {{#if (and (not recording) recordedFileUri)}}
            {{#paper-button iconButton=true onClick=(action 'downloadAudioAction')}}
              {{paper-icon 'cloud_download'}}
              {{#paper-tooltip position='bottom'}}
                Télécharger le dernier enregistrement éffectué.
              {{/paper-tooltip}}
            {{/paper-button}}
          {{/if}}
        </div>

        <div class="flex-gt-sm-33 flex-30 layout-row layout-align-center-center">
          {{#paper-button iconButton=true onClick=(transition-to 'index')}}
            {{paper-icon 'swap_horizontal_circle'}}
            {{#paper-tooltip position='bottom'}}
              Changer de style
            {{/paper-tooltip}}
          {{/paper-button}}

          <h2 id="BoxMain-AppTitle">
            Romgere's Box
          </h2>

          {{#paper-button iconButton=true onClick=(action 'showMixCode')}}
            {{paper-icon 'save'}}
            {{#paper-tooltip position='bottom'}}
              Sauvegarder le mix
            {{/paper-tooltip}}
          {{/paper-button}}
        </div>

        <div class="flex-gt-sm-33 flex-20 layout-row layout-align-end-center">
          <span id="loopSide">{{if loopSideA "A" "B"}}</span>
          {{paper-progress-circular value=loopValue warn=(not loopSideA) accent=loopSideA diameter=40}}
        </div>
      </div>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div id="BoxMain-TrackContainer" class="flex layout-row layout-gt-xs-align-space-around-start">
    {{#each (repeat trackCount) as |empty idx|}}
      {{box-track boxMain=this trackNumber=(inc idx)}}
    {{/each}}
  </div>
  <div class="flex-initial">
    <h3 style="text-align: center;">Sample : </h3>
  </div>
  <div class="flex-initial layout-row layout-wrap" id="sample-list">
    {{#each samples as |sample idx|}}
      <div class="flex-10 flex-xs-20  layout-row layout-align-center-start">

        {{#if sample.isUsed}}
          {{box-sample sample=sample}}
        {{else}}
          {{#draggable-object content=sample}}
            {{box-sample sample=sample}}
          {{/draggable-object}}
        {{/if}}

      </div>
    {{/each}}
  </div>
</div>

{{#if showMixCode}}
  {{#paper-dialog class="flex-50" onClose=(action (mut showMixCode) false)  clickOutsideToClose=true}}
    <form>
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>Mix Code</h2>
          <span class="flex"></span>
          {{#paper-button iconButton=true onClick=(action (mut showMixCode) false)}}
            {{paper-icon icon="close"}}
          {{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
          <p style="text-align: center;">
            Notes ton code pour retrouver ton mix plus tard :
          </p>
          <div class="layout layout-row">
            <div class="flex"></div>
            <div class="flex-inital">
              {{paper-icon 'loyalty'}}
              &nbsp;
            </div>
            <div class="flex-inital">
              <h3 style="margin: 0px; color: rgba(0, 0, 0, 0.54)">{{mixCode}}</h3>
            </div>
            <div class="flex"></div>
          </div>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button primary=true onClick=(action (mut showMixCode) false)}}
          C'est noté !
        {{/paper-button}}
      {{/paper-dialog-actions}}
    </form>
  {{/paper-dialog}}
{{/if}}
