<div class="layout-col" id="box-main">

  {{#paper-toolbar class="flex-initial"}}
    {{#paper-toolbar-tools}}

      {{#paper-button iconButton=true onClick=(action 'togglePlay')}}
        {{paper-icon (if playing "stop" "play_arrow")}}
        {{#paper-tooltip position='right'}}
          {{if playing "Stop" "Lecture"}}
        {{/paper-tooltip}}
      {{/paper-button}}

      &nbsp;
      |
      &nbsp;

      {{#paper-button iconButton=true warn=recording onClick=(action 'toggleRecord')}}
        {{paper-icon "fiber_manual_record"}}
        {{#paper-tooltip position='right'}}
          {{if recording "Arrêter l'enregistrement" "Démarrer l'enregistrement"}}
        {{/paper-tooltip}}
      {{/paper-button}}

      <span class="recordingTimeInput {{if recording 'recording'}}">
        {{ms-to-time recordingTime}}
      </span>

      {{#paper-button iconButton=true accent=micEnable warn=(not micEnable) onClick=(action 'toggleMic')}}
        {{paper-icon (if micEnable 'mic' 'mic_off')}}
        {{#paper-tooltip position='right'}}
          {{if micEnable "Désactiver le micro" "Activer le micro"}}
        {{/paper-tooltip}}
      {{/paper-button}}

      {{#if (and (not recording) chunks)}}
        {{#paper-button iconButton=true onClick=(action 'downloadAudioAction')}}
          {{paper-icon 'cloud_download'}}
          {{#paper-tooltip position='right'}}
            Télécharger le dernier enregistrement éffectué.
          {{/paper-tooltip}}
        {{/paper-button}}
      {{/if}}

      <span class="flex"></span>
      {{#paper-button iconButton=true onClick=(transition-to 'index')}}
        {{paper-icon 'swap_horizontal_circle'}}
        {{#paper-tooltip position='left'}}
          Changer de style
        {{/paper-tooltip}}
      {{/paper-button}}
      <h2 id="BoxMain-AppTitle">
        RomgereBox
      </h2>
      <span class="flex"></span>
      <span id="loopSide">{{if loopSideA "A" "B"}}</span>
      {{paper-progress-circular value=loopValue warn=(not loopSideA) accent=loopSideA diameter=40}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div id="BoxMain-TrackContainer" class="flex layout-row layout-gt-xs-align-space-around-start">
    {{#each (repeat trackCount) as |empty idx|}}
      {{box-track boxMain=this trackNumber=(inc idx)}}
    {{/each}}
  </div>
  <div class="flex-initial">
    <h3 style="text-align: center;">Sample : </h3>
  </div>
  <div class="flex-initial layout-row layout-wrap" id="sample-list">
    {{#each samples as |sample idx|}}
      <div class="flex-10 flex-xs-20  layout-row layout-align-center-start">
        {{box-sample sample=sample}}
      </div>
{{!--
      {{#if (eq idx 9)}}
        <div class="flex-grow"><br /></div>
      {{/if}} --}}
    {{/each}}
  </div>
</div>
{{yield}}
