<div
  {{did-insert this.updateFromMixConf}}
  {{did-update this.updateFromMixConf @mixConf}}
>

  <BoxMain::Toolbar
    @playing={{this.audio.isPlaying}}
    @loopSideA={{this.audio.isLoopSideA}}
    @loopCount={{this.audio.loopCount}}
    @loopValue={{this.audio.currentLoopValue}}

    @recording={{this.audio.isRecording}}
    @micEnable={{this.audio.isMicroEnable}}
    @recordingTime={{this.audio.recordTime}}
    @canDownload={{and (not this.audio.isRecording) this.audio.recordedFileUri}}

    @playAction={{this.togglePlay}}
    @recordAction={{this.toggleRecord}}
    @micAction={{this.toggleMic}}
    @downloadAction={{this.downloadRecord}}
    @saveAction={{this.showMixCodeModal}}
  />

  <div>
  
    <UkFlex @direction="row" @horizontal="around" @wrap="wrap" @wrapAlignment="around">
      {{#each this.audio.trackSamples as |sample idx|}}
        <BoxMain::Track
          @sample={{sample}}
          @trackNumber={{inc idx}}
          @isSolo={{eq this.soloTrack idx}}
          @onVolumeChange={{fn this.changeVolume idx}}
          @onMuteToggle={{fn this.muteToggle idx}}
          @onSoloToggle={{fn this.soloToggle idx}}
          
          @onDropSample={{fn this.bindSample idx}}
          @onClearSample={{fn this.unbindSample idx}}
        />
      {{/each}}
    </UkFlex>

    <h3 class="uk-text-center">{{t 'box_main.sample_title'}} : </h3>
    <UkFlex @direction="row" @horizontal="around" @wrap="wrap" @wrapAlignment="around">
      {{#each @samples as |sample|}}
        {{#if sample.isUsed}}
          <BoxMain::Sample @sample={{sample}} />
        {{else}}
          <DraggableObject @content={{sample}}>
            <BoxMain::Sample @sample={{sample}} />
          </DraggableObject>
        {{/if}}
      {{/each}}  
    </UkFlex>
  </div>
</div>

<BoxMain::MixCodeModal
  @visible={{this.showMixCode}}
  @onHide={{fn (mut this.showMixCode) false}}
  @mixCode={{this.currentMixCode}}
/>