
<BoxMain::Toolbar
  @playing={{this.playing}}
  @loopSideA={{this.loopSideA}}
  @loopValue={{this.loopValue}}
  @loopCount={{this.loopCount}}

  @recording={{this.recording}}
  @showDownload={{and (not this.recording) this.recordedFileUri}}
  @recordingTime={{this.recordingTime}}
  @micEnable={{this.micEnable}}

  @playAction={{this.togglePlay}}
  @saveAction={{this.showMixCodeModal}}
  @recordAction={{this.toggleRecord}}
  @micAction={{this.toggleMic}}
  @downloadAction={{this.downloadAudioAction}}
/>


<div>
 

  <UkFlex @direction="row" @horizontal="around" @wrap="wrap" @wrapAlignment="around">
    {{#each this.trackCountArray as |empty idx|}}
      <BoxMain::Track @boxMain={{this}} @trackNumber={{inc idx}} />
    {{/each}}
  </UkFlex>

  <h3 class="uk-text-center">{{t 'box_main.sample_title'}} : </h3>
  <UkFlex @direction="row" @horizontal="around" @wrap="wrap" @wrapAlignment="around">
    {{#each @samples as |sample|}}
      {{#if sample.isUsed}}
        <BoxMain::Sample @sample={{sample}} />
      {{else}}
        <DraggableObject @content={{sample}}>
          <BoxMain::Sample @sample={{sample}} />
        </DraggableObject>
      {{/if}}
    {{/each}}  
  </UkFlex>
</div>


<BoxMain::MixCodeModal
  @visible={{this.showMixCode}}
  @onHide={{fn (mut this.showMixCode) false}}
  @mixCode={{this.mixCode}}
/>