<div class="uk-flex uk-flex-around" ...attributes>

  <div class="uk-button-group">
    <button
      type="button"
      class="uk-button uk-button-primary"
      uk-tooltip={{if @playing (t 'box_main.stop') (t 'box_main.play')}}
      {{on "click" @playAction}}
    >
      <FaIcon @icon={{if @playing "stop" "play"}} />
    </button>

    <div
      class="button-group-label uk-text-primary uk-text-italic uk-button-noupper"
    > 
      <span class="label">
        {{#if (eq this.loopInfo 'side')}}
          {{if @loopSideA "A" "B"}}
        {{else}}
          #{{@loopCount}}
        {{/if}}

        
      </span>
      <span class="progress" style={{this.progressStyle}} />
    </div>

    <button
      type="button"
      class="uk-button uk-button-default"
      uk-tooltip={{t 'box_main.show_mix_code'}}
      {{on "click" @saveAction}}
    >
      <FaIcon @icon="save" />
    </button>
  </div>

  <div class="uk-button-group">
    <button
      type="button"
      class="uk-button {{if @recording "uk-button-danger" "uk-button-default"}}"
      uk-tooltip={{if @recording (t 'box_main.record_stop') (t 'box_main.record')}}
      {{on "click" @recordAction}}
    >
      <FaIcon @icon="circle" />
    </button>

    <button
      type="button"
      class="uk-button  {{if @micEnable "uk-button-danger" "uk-button-default"}}"
      uk-tooltip={{if @micEnable (t 'box_main.mic_off') (t 'box_main.mic_on')}}
      {{on "click" @micAction}}
    >
      <FaIcon @icon={{if @micEnable 'microphone-alt' 'microphone-alt-slash'}} />
    </button>

    <button class="uk-button uk-button-default uk-text-primary uk-text-italic uk-button-noupper" type="button" disabled>
      {{ms-to-time @recordingTime}}
    </button>

    <button
      type="button"
      class="uk-button uk-button-default"
      disabled={{not @canDownload}}
      uk-tooltip={{t 'box_main.download_record'}}
      {{on "click" @downloadAction}}
    >
      <FaIcon @icon="file-download" />
    </button>
  </div>
</div>