<div
  class="boxTrack"
  uk-tooltip={{unless this.sample (t 'box_track.drop_tooltip')}}
>

  <DraggableObjectTarget
    @action={{this.onDragSample}}
    @dragOverAction={{this.onOverAction}}
    @dragOutAction={{this.onDragOutAction}}
  >

    <div>
      <FaIcon
        @size="2x"
        @icon={{if this.sampleIcon this.sampleIcon 'question-circle-o'}}
        class={{if this.sampleColor this.sampleColor 's-color-0'}}
      />    
    </div>

    <div>
      <BoxMain::VuMetter @sample={{this.sample}} />
    </div>

    <div class="volumeBar">
      <label hidden for="track-volume-{{@trackNumber}}" class="">
        {{t "box_track.volume_label" number=@trackNumber}}
      </label>
      <input
        id="track-volume-{{@trackNumber}}"
        class="uk-range"
        type="range"
        min="0"
        step="1"
        title={{t 'box_track.volume_title'}}
        max={{this.maxVolume}}
        value={{this.sample.volume}}
        disabled={{not this.sample}}
        {{on "change" this.changeVolume}}
        {{on "input" this.changeVolume}}
      >
    </div>


    <div class="uk-button-group">
      <button
        type="button"
        class="uk-button {{if this.sample.mute "uk-button-danger" "uk-button-default"}}"
        disabled={{not this.sample}}
        uk-tooltip={{t 'box_track.mute_tooltip'}}
        {{on "click" this.muteToggle}}
      >
        <FaIcon @icon={{if this.sample.mute "volume-mute" "volume-up"}} />
      </button>

      <button
        type="button"
        class="uk-button {{if this.solo "uk-button-primary" "uk-button-default"}}"
        disabled={{not this.sample}}
        uk-tooltip={{t 'box_track.mute_tooltip'}}
        {{on "click" this.soloAction}}
      >
        <FaIcon @icon="music" />
      </button>
    </div>

    <div>
      <button
        type="button"
        class="uk-button uk-button-default"
        disabled={{not this.sample}}
        uk-tooltip={{t 'box_track.delete_tooltip'}}
        {{on "click" this.removeAction}}
      >
        <FaIcon @icon="trash-alt" />
      </button>
    </div>

    <div class="flex-initial trackNumber">
      #{{@trackNumber}}
    </div>
  </DraggableObjectTarget>

</div>