<div
  class="boxTrack {{this.additionnalClasses}}"
  uk-tooltip={{unless @sample (t 'box_track.drop_tooltip')}}
>

  <DraggableObjectTarget
    @action={{@onDropSample}}
    @dragOverAction={{fn (mut this.dragPending) true}}
    @dragOutAction={{fn (mut this.dragPending) false}}
  >

    <div>
      <FaIcon
        @size="2x"
        @icon={{if @sample.icon @sample.icon 'question-circle-o'}}
        class={{if @sample.color @sample.color 's-color-0'}}
      />    
    </div>

    <div>
      <BoxMain::VuMetter @sample={{@sample}} />
    </div>

    <div class="volumeBar">
      <label hidden for="track-volume-{{@trackNumber}}" class="">
        {{t "box_track.volume_label" number=@trackNumber}}
      </label>
      <input
        id="track-volume-{{@trackNumber}}"
        class="uk-range"
        type="range"
        min="0"
        step="1"
        title={{t 'box_track.volume_title'}}
        max={{this.maxVolume}}
        value={{@sample.volume}}
        disabled={{not @sample}}
        {{on "change" (pick "target.value" @onVolumeChange)}}
        {{on "input" (pick "target.value" @onVolumeChange)}}
      >
    </div>


    <div class="uk-button-group">
      <button
        type="button"
        class="uk-button {{if @sample.isMute "uk-button-danger" "uk-button-default"}}"
        disabled={{not @sample}}
        uk-tooltip={{t 'box_track.mute_tooltip'}}
        {{on "click" @onMuteToggle}}
      >
        <FaIcon @icon={{if @sample.isMute "volume-mute" "volume-up"}} />
      </button>

      <button
        type="button"
        class="uk-button {{if @isSolo "uk-button-primary" "uk-button-default"}}"
        disabled={{not @sample}}
        uk-tooltip={{t 'box_track.solo_tooltip'}}
        {{on "click" @onSoloToggle}}
      >
        <FaIcon @icon="music" />
      </button>
    </div>

    <div>
      <button
        type="button"
        class="uk-button uk-button-default"
        disabled={{not @sample}}
        uk-tooltip={{t 'box_track.delete_tooltip'}}
        {{on "click" @onClearSample}}
      >
        <FaIcon @icon="trash-alt" />
      </button>
    </div>

    <div class="flex-initial trackNumber">
      #{{@trackNumber}}
    </div>
  </DraggableObjectTarget>

</div>