<h2 class="uk-text-center">{{t 'index.choose_version'}}</h2>
<UkFlex @direction="row" @horizontal="around" @wrap="wrap" @wrapAlignment="around">
  {{#each this.model.versions as |version idx|}}
    <UkButton
      @color="primary"
      @size="small"
      @fill={{true}}
      @on-click={{transition-to "box" idx (query-params mixConf=(default-mix-conf))}}
    >
      {{version.name}}
    </UkButton>
  {{/each}}
</UkFlex>


<h2 class="uk-text-center">{{t 'index.load_mix_code'}}</h2>

<div class="uk-text-center">

  <p class="uk-text-center">{{t 'index.enter_mix_code'}}</p>
  
  <div class="uk-margin">
    <label class="uk-form-label" for="mix-code-input">
      {{t 'index.mix_code_input.label'}}
    </label>
    {{#let (and this.showValidationError (not this.mixCodeValid)) as |showError|}}
      <Misc::UkInput
        @placeholder={{t 'index.mix_code_input.placeholder'}}
        @value={{this.mixCode}}
        @type="text"
        @onChange={{fn (mut this.mixCode)}}
        id="mix-code-input"
        class="uk-input uk-form-width-medium {{if showError "uk-form-danger"}}"
        {{on "blur" (fn (mut this.showValidationError) true)}}
      />
      
      {{#if showError}}
        <span class="uk-text-danger">{{t "index.mix_code_input.invalid"}}</span>
      {{/if}}
    {{/let}}
  </div>
  
  <UkButton
    @color="primary"
    @size="small"
    @fill={{true}}
    @disabled={{not this.mixCodeValid}}
    @on-click={{this.loadMixCode}}
  >
    {{t 'index.load'}}
  </UkButton>
</div>
