<h2 class="uk-text-center">{{t 'index.choose_version'}}</h2>

<div class="uk-flex uk-flex-around">  {{#each this.model.versions as |version idx|}}
    <LinkTo 
      class="uk-button uk-button-primary"
      @route="box" 
      @model={{idx}}
      @query={{hash mixConf=(default-mix-conf)}}
    >
      {{version.name}}
    </LinkTo>
  {{/each}}
</div>


<h2 class="uk-text-center">{{t 'index.load_mix_code'}}</h2>

<div class="uk-text-center">

  <p class="uk-text-center">{{t 'index.enter_mix_code'}}</p>
  
  <div class="uk-margin">
    <label class="uk-form-label" for="mix-code-input">
      {{t 'index.mix_code_input.label'}}
    </label>
    {{#let (and this.showValidationError (not this.mixCodeValid)) as |showError|}}
      <Misc::UkInput
        @placeholder={{t 'index.mix_code_input.placeholder'}}
        @value={{this.mixCode}}
        @type="text"
        @onChange={{fn (mut this.mixCode)}}
        id="mix-code-input"
        class="uk-input uk-form-width-medium {{if showError "uk-form-danger"}}"
        {{on "blur" (fn (mut this.showValidationError) true)}}
      />
      
      {{#if showError}}
        <span class="uk-text-danger">{{t "index.mix_code_input.invalid"}}</span>
      {{/if}}
    {{/let}}
  </div>

  <button
    type="button"
    class="uk-button uk-button-primary"
    disabled={{not this.mixCodeValid}}
    {{on "click" this.loadMixCode}}
  >
    {{t 'index.load'}}
  </button>
</div>
