<a style="position: fixed; top: 0px; right: 0px; z-index: 9999;" href="https://github.com/romgere/romgerebox"><img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
{{#paper-toolbar class="flex-initial"}}
  {{#paper-toolbar-tools}}
    <div class="flex-60 flex-offset-20">
      <h2 style="margin-left: 0px; text-align: center;">
        {{t 'app_title'}}
      </h2>
    </div>
    <div class="flex-20 layout-row layout-align-end-center">
      {{#each availableLocales as |locale|}}
        {{flag-btn locale=locale selected=(eq locale currentLocale) onChange=(action 'localeChangeAction')}}
      {{/each}}
    </div>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<h2 style="text-align: center;">{{t 'index.choose_version'}}</h2>
<div class="layout-row layout-xs-column layout-align-space-around-center">

  {{#each model.versions as |version idx|}}
    {{#paper-button raised=true primary=true onClick=(transition-to "box" idx (query-params mixConf=(default-mix-conf)))}}
      {{version.name}}
    {{/paper-button}}
  {{/each}}

</div>

<br /><br />

<h2 style="text-align: center;">
  {{t 'index.load_mix_code'}}
</h2>
<div class="layout-column layout-align-center-center">
  <p style="text-align: center;">{{t 'index.enter_mix_code'}}</p>
  {{paper-input-mask
    mask=mixCodeinputMask
    customValidations=mixCodeValidation
    label=(t 'index.mix_code_input.label')
    placeholder=(t 'index.mix_code_input.placeholder')
    icon="loyalty"
    type="text"
    value=mixCode
    onChange=(action (mut mixCode))
  }}
  {{#paper-button disabled=(not mixCodeValid) primary=true raised=true onClick=(action 'loadMixCode')}}
    {{t 'index.load'}}
  {{/paper-button}}
</div>
